:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-color:#FFFFFF;
   --footer-text-color: rgba(255, 255, 255, 0.6);
   --background: #F5F5F5;
   --hero-background: #2F303A;
   --button-background-color: #F5F4FA;
   --button-background-hero: #188CE8;
   --accent-logo-color:#000000;
}

/* index*/

body {
    background-color: var(--primary-color) ;
    color:var(--primary-text-color) ;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* header*/

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

 text-decoration: none;
}

.logo-header{
    color: var(--accent-logo-color);
}

.logo-footer{
    color: var(--primary-color);
}

.nav-link {
    color: var(--title-text-color);
     text-decoration: none;
   
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.nav-link-carrent{
    color: var(--accent-color);
     text-decoration: none;
     font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.contakt-link {
    color: var(--primary-text-color);
     text-decoration: none;
   
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.contakt-link:hover,
.contakt-link:focus{
    color: var(--accent-color);
}
/* hero*/

.title-hero {
    color: var(--primary-color);
 
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;
}
.section-hero  {
    background-color: var(--hero-background);
    text-align: center;
}

/* section особливості*/

.section-title {
    color: var(--title-text-color);

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;

}


/*features*/

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features .title {
    color: var(--title-text-color);
  
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.text {
font-size: 14px;
line-height: 1.71;
}


/*team-title*/

.section-team{
    background-color: var(--button-background-color);
}


.team-title{
    color: var(--title-text-color);
  
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}
.team-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.19;

text-align: center;

}
.team-item {
    background-color: var(--primary-color);
}

/* button*/

.button {
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
color: var(--second-accent-color);
    background-color: var(--button-background-hero);
    }

/* footer*/

.footer {
    background-color: var(--hero-background);
}

.adress {
    color: var(--primary-color);
}

.footer-link {
    color: var(--footer-text-color);
}

.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}

.footer-link, .adress {
     text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

}


/* portfolio*/



/* filter buttons*/

.filter-button {
    color: var(--title-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
     font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--second-accent-color);
     background-color: var(--accent-color);
}

/*progect*/
.progect-link{
     text-decoration: none;
}

.progect-title{
    color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}

.progect-text {
    color: var(--primary-text-color);
     font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;

}
