:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --second-accent-color:#FFFFFF;
   --footer-text-color: rgba(255, 255, 255, 0.6);
   --background: #F5F5F5;
   --hero-background: #2F303A;
}

/* index*/

body {
    background-color: var(--background) ;
    color:var(--primary-text-color) ;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/* header*/

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
}

.nav-link {
    color: var(--title-text-color);
    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.nav-link-carrent{
    color: var(--accent-color);
}

.contakt-link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.contakt-link:hover,
.contakt-link:focus{
    color: var(--accent-color);
}
/* hero*/

.title-hero {
    color: var(--second-accent-color);
 
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.section-hero  {
    background-color: var(--hero-background);
}

/* section*/

.section-title {
    color: var(--title-text-color);
}

/*features*/
.features .title {
    color: var(--title-text-color);
}

/*team-title*/

.team-title{
    color: var(--title-text-color);
}

/* button*/

.button {
    color: var(--second-accent-color);
    background-color: var(--accent-color);
}


/* footer*/

footer {
    background-color: var(--hero-background);
}

.adress {
    color: var(--second-accent-color);
}

.footer-link {
    color: var(--footer-text-color);
}


